.mainDetailEquipe{
    background-image: url("/images/background2.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position-x: center;
    color:white;
}
.mainDetailEquipe table{
    width:70%;
    text-align: left;
}